
# ===== OS =====
.DS_Store
Thumbs.db

# ===== Maven =====
target/
*.log

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== Docker volumes (IMPORTANT) =====
mongo_data/
mysql_data/
elasticsearch/
redis_data/

# ===== Environment =====
.env
.env.*

# ===== Node (if any) =====
node_modules/

# ===== Logs =====
logs/
*.out
